* {
    box-sizing: border-box;
}
body {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.a1 {
    height: 14.21vh;
    width: 100vw;
    background-color: #ff0000;
}
.a2 {
    height: 14.21vh;
    width: 100vw;
    background-color: orange;
}
.a3 {
    height: 14.21vh;
    width: 100vw;

    background-color: yellow;
}
.a4 {
    height: 14.21vh;
    width: 100vw;

    background-color: green;
}
.a5 {
    height: 14.21vh;
    width: 100vw;

    background-color: lightblue;
}
.a6 {
    height: 14.21vh;
    width: 100vw;

    background-color: blue;
}
.a7 {
    height: 14.21vh;
    width: 100vw;

    background-color: purple;
}
